<div class ="container-fluid">
    <div class="row bg-success" style="min-height: 13rem;">
        <div class ="col-md-6 p-4">
            <h1>ABC Jobs Pte Ltd</h1>

        </div>
        <div class ="col-md-6 p-4">
            <p class ="h6">
                ABC Jobs Pte Ltd. serves both as a networking site and Job advertising website. Explore the world through
                connecting with people on the same field and industry. Acquire skills through collaboration, and find a suitable
                job best for you. The website however, does not take any liability such that the job advertisement posted is a scam.
                Rest assured that the company also makes sure that the job opportunity posted is valid, and profitable for both the
                client and the employer.
            </p>
            <div class ="d-flex align-items-end justify-content-end pt-5 mt-5">
            	<h6 class ="h6 text-end">&copy; All rights reserved ABC Jobs Pte Ltd</h6>
            </div>
        </div>
    </div>
</div>